{{#paper-content classNames="md-padding invoice-items"}}
  <ul class="paper-list-inline">
    <li>
      {{link-to "Nuevo Abono" "invoice_items.payment"}}
    </li>
    <li>
      {{link-to "Nueva Deuda" "invoice_items.new"}}
    </li>
  </ul>
  <h3>Saldo {{format-money total}}</h3>
  <table>
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Descripción</th>
        <th>Valor</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |item|}}
        <tr>
          <td class="invoice-item-year">{{formatted-date item.createdAt}}</td>
          <td>{{item.description}}</td>
          <td>{{format-money item.amount}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/paper-content}}
