{{#paper-content classNames="md-padding"}}
  <ul class="paper-list-inline">
    <li>{{paper-text label="Nombres" value=model.firstName}}</li>
    <li>{{paper-text label="Apellidos" value=model.lastName}}</li>
    <li>{{paper-text label="Teléfono" type="tel" value=model.phone}}</li>
    <li>{{paper-text label="E-mail" type="email" value=email}}</li>
  </ul>
  <p>
    {{#paper-button
      classNames="md-primary"
      action="save"}}
      Guardar
    {{/paper-button}}
    {{#paper-button
      action="cancel"
    }}
      Cancelar
    {{/paper-button}}
  </p>
  <hr>
  {{#unless model.isNew}}
    <p>
      {{confirmable-action text="Remover" confirmAction="destroyRecord"}}
    </p>
  {{/unless}}
{{/paper-content}}
