<div class="row">
  <label class="control-label">Nombres
    {{input value=firstName class="client-first-name form-control"}}
  </label>
</div>
<div class="row">
  <label class="control-label">Apellido
    {{input value=lastName class="client-last-name form-control"}}
  </label>
</div>
<div class="row">
  <label class="control-label">Teléfono
    {{input value=model.phone class="client-phone form-control"}}
  </label>
</div>
<div class="row">
  <label class="control-label">Emailil
    {{input value=model.email class="client-email form-control"}}
  </label>
</div>

<button type="submit" {{action "save"}} class="create btn btn-default">Guardar</button>
<button type="submit" {{action "cancel"}} class="cancel btn btn-default">Cancelar</button>
