{{input value=searchText class="form-control" placeholder="Busqueda..."}}
<table class="primary clients-table">
  <thead>
    <tr>
      <th {{action "sortBy" "firstName"}}>Nombres </th>
      <th {{action "sortBy" "balance"}}>Deuda</th>
    </tr>
  </thead>
  <tbody>
    {{#each filteredClients as |client|}}
      <tr class="client-row">
        <td>{{#link-to 'clients.show' client}}{{client.fullName}}{{/link-to}}</td>
        <td>{{format-money client.balance}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
