{{#paper-nav-container open=drawerOpen classNames="ember-app"}}
  {{#paper-sidenav classNames="md-sidenav-left md-whiteframe-z2" flex-layout="column" flex=true}}
    {{#paper-toolbar}}
      <div class="md-toolbar-tools">
        <div class="logo">
          <strong>Facturas Al Día</strong>
        </div>
      </div>
    {{/paper-toolbar}}

    {{#paper-content}}
      <nav class="sidenav">
        <ul>
          {{#if session.isAuthenticated}}
            <li>{{link-to "Informes" "dashboard"}}</li>
            <li>{{link-to "Clientes" "clients.index"}}</li>
            <li>{{link-to "Nuevo Cliente" "clients.new"}}</li>
            <li>
              <a href="#" {{action "invalidateSession" on="click"}}>
                Cerrar Sesión
              </a>
            </li>
            {{else}}
            <li>{{link-to "Sign In" "login"}}</li>
            <li>{{link-to "Sign Up" "signUp"}}</li>
          {{/if}}
        </ul>
      </nav>
    {{/paper-content}}
  {{/paper-sidenav}}

  {{#paper-content flex-layout="column" flex=true}}
    {{outlet}}
  {{/paper-content}}

{{/paper-nav-container}}
