<nav>
  {{link-to "Facturas" "index" class="main"}}
  <!-- responsive -->
  <input id="bmenu" class="burgercheck" type="checkbox">
  <label for="bmenu" class="burgermenu"></label>
  <!-- /responsive -->
  <div class="menu">
    {{#if isSignedIn}}
      {{#link-to 'dashboard'}}
      <i class="fa  fa-fw"></i> Informes
      {{/link-to}}
      {{#link-to 'clients.index' class="clients-link"}}
      <i class="fa fa-users-o fa-fw"></i> Clientes
      {{/link-to}}
      {{#link-to 'clients.new' class="new-client-link"}}
      <i class="fa fa-user-o fa-fw"></i> Nuevo Cliente
      {{/link-to}}
      <a href='#' {{action "signOut" on='click'}}>
        <i class="fa fa-user-o fa-fw"></i> Cerrar Sesión
      </a>
    {{else}}
      {{link-to "Sign In" "session"}}
      {{link-to "Sign Up" "signUp"}}
    {{/if}}
  </div>
</nav>
<div class="row">
  <div class="full">
    {{outlet}}
  </div>
</div>
